:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:host ::ng-deep .mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: block;
}

.label {
  display: flex;

  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}

.mat-input-element[type=date]::after,
.mat-input-element[type=datetime]::after,
.mat-input-element[type=datetime-local]::after,
.mat-input-element[type=month]::after,
.mat-input-element[type=week]::after,
.mat-input-element[type=time]::after {
    content: '';
}
