<div class="register">
  <mat-card class="register__form">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <app-input-text label="Nome" formControlName="name"></app-input-text>
        <app-input-text label="E-mail" formControlName="email"></app-input-text>
        <app-input-password label="Senha" formControlName="password"></app-input-password>
        <app-input-password label="Confirmação de Senha" formControlName="passwordConfirmation"></app-input-password>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="link" routerLink="/login" type="button">Login</button>
      <button mat-flat-button color="primary" (click)="register()" [disabled]="registerForm.invalid" type="submit">
        Cadastrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
