<mat-form-field class="input" [appearance]="appearance" (click)="touched = true">
  <mat-label class="mb-xs" *ngIf="label">{{ label }}</mat-label>
  <input
    matInput
    [type]="typeInput"
    #input
    [disabled]="disabled"
    [required]="!!required"
    [ngModel]="value"
    (ngModelChange)="changeModel($event)"
    (change)="onChange(value)"
    (click)="handleClick($event); onTouched()"
    [errorStateMatcher]="matcher"
    [placeholder]="placeholder"
    (paste)="onPaste($event)"
    (drop)="onDrop($event)"
  />
  <mat-icon class="pointer" *ngIf="typeInput === 'password'" (click)="changeVision()" matSuffix> visibility </mat-icon>
  <mat-icon class="pointer" *ngIf="typeInput === 'text'" (click)="changeVision()" matSuffix> visibility_off </mat-icon>
  <mat-error>
    <app-errors-label
      [label]="label"
      *ngIf="touched && ngControl.errors"
      [errors]="ngControl.errors"
    ></app-errors-label>
  </mat-error>
</mat-form-field>
